@import url(https://fonts.googleapis.com/css?family=Pacifico);
//Variable to save a specific color that can be referenced throughout the entire stylesheet using just its variable name
$translucent-white: rgba(255,255,255,0.3);
// Define variable for the number(size) that we want to use for each icon
$icon-square-length: 300px;
//Variables can have values that are color types, numbers, strings, booleans, and null

h1 {
  font-family: Roboto, sans-serif;
  text-align: center;
}

.banner {
  font-family: 'Pacifico', cursive;
  height: 400px;
  background-image: url("lemonade.jpg");
  //Nesting can be used to simplify CSS property selectors
  //i.e. the nested border properties below would usually be done like this:
  //border-top: ;
  //border-bottom: ;
  //But the nested way provides a more organized way to keep track of all border-related properties for that selector
  border : {
    top: 4px solid black;
    bottom: 4px solid black;
  }
  //Nest slogan class within banner, because it is a child of banner
  //This helps easily identify DOM relationships between different components while styling
  .slogan {
    position: absolute;
    border: 4px solid black;
    top: 200px;
    left: 25%;
    width: 50%;
    height: 200px;
    text-align: center;
    background-color: $translucent-white; //Uses value defined for the variable at the top of the stylesheet
    //Since the styling below is only wanted for the span tag WITHIN slogan its styling
    //is nested within the slogan selector as a child of slogan
    span {
      font-size: 24px;
      line-height: 200px;
    }
  }
}

.container {
  text-align: center;
  font-family: 'Pacifico', cursive;
  //Icon class and container child selector styling
  //Only style each of the icon classes present within the container (their parent)
  .icon {
    display: inline-block;
    margin: 2%;
    border: 4px solid black;
    font-size: 32px;
    width: $icon-square-length;
    height: $icon-square-length;
  }
}
